.content {
  padding: 1rem;
  background-color: #dadfe8;
  height: 100vh;
  width: 100vw;
}

#detail_btn {
  background-color: #e0d2de;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
  border: none;
  width: 75px;
  cursor: pointer;
}

.normal {
  background-color: #a6a877;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.grass {
  background-color: #77c850;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.fire {
  background-color: #ee7f30;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.water {
  background-color: #678fee;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.electric {
  background-color: #f7cf2e;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.ice {
  background-color: #98d5d7;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.ground {
  background-color: #dfbf69;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.flying {
  background-color: #a98ff0;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.poison {
  background-color: #a040a0;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.fighting {
  background-color: #bf3029;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.psychic {
  background-color: #f65687;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.dark {
  background-color: #725847;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.rock {
  background-color: #b8a137;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.bug {
  background-color: #a8b720;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.ghost {
  background-color: #6e5896;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.steel {
  background-color: #b9b7cf;
  border-radius: 1rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
  margin-bottom: 0.3rem;
}

.dragon {
  background-color: #6f38f6;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.fairy {
  background-color: #f9aec7;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
  padding: 2px;
  filter: drop-shadow(4px 2px 7px);
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body {
  background-color: #ffffff;
}

.pokemon {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.pokemon .number {
  color: black;
  text-align: right;
  opacity: 0.3;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  font-size: large;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 10px;
  list-style: none;
  filter: brightness(1.1);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 75px;
}

.pokemon .detail .types .type {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .pokemons {
    grid-template-columns: 1fr;
  }
}
